@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    box-sizing: border-box;
}

body {
    display: flex;
    height: 100vh;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', "Open Sans", Helvetica, Arial, sans-serif;
}

.container-login {
    width: 500px;
    padding-top: 40px;
    padding-left: 100px;
    background-color: #ffff;
    position: relative;
}

.square {
    width: 80px;
    height: 120px;
    background-color: #36597D;
    position: fixed;
    left: 0;
    top: 0;
    border-radius: 0 0 40px 0;
}

.image-container {
    width: 500px;
    height: 500px;
}

.square2 {
    width: 550px;
    height: 550px;
    background-color: #36597D;
    position: fixed;
    right: 0;
    top: 0;
    border-radius: 0 0 0 40px;
}

.logo2 img{
    position: relative;
    padding-top: 80px;
    top: 0;
    right: 0;
    width: 550px;
    height: 500px;
    margin-left: 90px;
}

.container-login h1 {
    padding-top: 50px;
    text-align: center;
    margin-bottom: 20px;
    color: #36597D;
}

.container-login label {
    display: block;
    margin-bottom: 5px;
    color: #36597D;
    font-weight: bold;
}

.container-login input[type="email"],
input[type="password"],
input[type="text"] {
    width: 90%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background: rgba(54, 89, 125, 0.25);
}

input::placeholder {
    color: rgba(54, 89, 125, 0.5);
    font-weight: 600;
    font-size: 0.8em;
}

.login-button {
    display: flex;
    justify-content: center;
    padding: 40px 20px 0 0;
    align-items: center;
}

.login-button button[type="submit"] {
    width: 30%;
    padding: 10px;
    background-color: #23A6F0;
    color: #ffff;
    margin-bottom: 5px;
    border: none;
    border-radius: 5px;
}

.fa-arrow-right {
    font-size: 0.8em;
    margin-left: 10px;
}

a {
    color: red;
    text-decoration: none;
    font-weight: bold;
    font-size: 0.9em;
}

.input-group {
    display: flex;
}

.input-group-append {
    margin: 10px;
}

@media (max-width: 767px) {
    .square2,
    .square,
    .logo2 img {
        display: none;
    }
    * {
        width: 100%;
        justify-content: center;
        align-items: center;
    }
    .login h1 {
        padding-top: 10px;
    }
    .fa-arrow-right {
        display: none;
    }
    .login label {
        font-size: 0.8em;
        font-weight: bold;
        color: #36597D;
    }
    .login input[type="email"],
    input[type="password"], 
    input[type="text"] {
        width: 100%;
    }
    .login-button button[type="submit"] {
        margin: 0;
        padding: 10px;
        width: 50%;
    }
    .login a {
        color: red;
        text-decoration: none;
        font-weight: bold;
        font-size: 0.8em;
    }
}

/*RESET PASSWORD*/
.container {
    width: 100%;
    height: 100vh;
    display: flex;
    background-color: #CFE1FF;
}
  
.reset {
    width: 100%;
    box-sizing: border-box;
}

.reset h1 {
    color: #36597D;
    font-weight: bold;
    font-size: 2em;
    text-align: center;
    margin-top: 120px;
}

.reset label {
    color: #36597D;
    font-weight: bold;
    margin-left: 140px; 
}

.reset input[type="email"] {
    width: 50%;
    padding: 10px;
    margin-bottom: 20px;
    margin-left: 140px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background: rgba(54, 89, 125, 0.25);
}

.reset input[type="password"],
input[type="text"] {
    width: 50%;
    padding: 10px;
    margin-bottom: 20px;
    margin-left: 140px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background: rgba(54, 89, 125, 0.25);
}

.reset-button {
    display: flex;
    justify-content: center;
    padding: 20px 20px 0 0;
    align-items: center;
}

.reset-button button[type="submit"] {
    width: 10%;
    padding: 10px;
    background-color: #23A6F0;
    color: #ffff;
    margin-bottom: 5px;
    border: none;
    border-radius: 5px;
}

.reset p {
    color: #F36868;
    margin-top: 20px;
    font-weight: bold;
    margin-left: 160px;
    font-size: 12px;
}

.side-bar {
    width: 50%;
    height: 100vh;
    background-color: #93AFDD;
}

.side-bar img {
    width: 500px;
    height: 500px;
    bottom: 0;
    position: absolute;
}

.button-back {
    display: flex;
    float: right;
    padding: 20px 20px 0 0;
}

.button-back .button {
    width: 100%;
    padding: 10px;
    background-color: #F02323;
    color: #ffff;
    margin-bottom: 5px;
    border: none;
    border-radius: 5px;
}

.fa-arrow-left {
    font-size: 0.8em;
    margin-right: 10px;
}

.forget-pw label {
    color: #36597D;
    font-weight: bold; 
}

.back-line {
    display: none;
}

@media (max-width: 767px) {
    .container {
        margin: 0;
        width: 100%;
    }
    .side-bar, .side-bar img, .button-back .button, .column-left{
        display: none;
    }
    .back-line {
        display: block;
        margin: 10px;
    }
    .fa-arrow-left {
        font-size: 1em;
        color: #ffff;
    }
    .reset h1 {
        color: #36597D;
        font-weight: bold;
        font-size: 1.5em;
        text-align: center;
        margin-top: 120px;
    }
    .reset label {
        color: #36597D;
        font-weight: bold;
        margin-left: 70px;
        font-size: 0.9em; 
    }
    .reset input[type="email"] {
        width: 100%;
        padding: 10px;
        margin: 0 70px 20px 70px;
        border: 1px solid #ccc;
        border-radius: 10px;
        background: rgba(54, 89, 125, 0.25);
    }
    .reset input[type="password"],
    input[type="text"] {
        width: 100%;
        padding: 10px;
        margin-bottom: 20px;
        margin-left: 70px;
        border: 1px solid #ccc;
        border-radius: 10px;
        background: rgba(54, 89, 125, 0.25);
    }
    .reset-button button[type="submit"] {
        width: 15%;
        padding: 10px;
        background-color: #23A6F0;
        color: #ffff;
        margin-bottom: 5px;
        border: none;
        border-radius: 5px;
    }
    .reset p {
        color: #F36868;
        margin-top: 20px;
        font-weight: bold;
        margin-left: 50px;
        font-size: 10px;
    }
}